
body {  
    font-family: Arial, sans-serif;
    background-color: #b379e3ed; 
    margin: 0;
    padding: 0;
}


h1, h2, h3, h4, h5 {
    color: #1c191c;   
}


p {
    color: white;
}


.mensaje-enojado {
    color: red;
    font-weight: bold;
    font-size: 20px;
    margin: 15px 0;
    text-align: center;
}

.conejo-container {
    background-color: rgba(60, 176, 238, 0.752);
    border-radius: 12px;
    padding: 15px;
    transition: 0.3s;
    max-width: 360px;
    margin: 0 auto;
}


.conejo {
    font-family: monospace;
    font-size: 18px;
    margin: 0;
}





